<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>自2017年2月第一次来到上海后，接触到IT工作，才意识到自己在大学四年的时间真是荒废度过，恨不得能够重新来过。</p>
        <p>不过亡羊补牢，为时也不晚，至少还有后面一段时间可以赶超，一切从头来过，立足和扎实基础，希望可以补回自己逝去的知识</p>
        <p>自毕业后半年，开始从专业基础开始慢慢一个个知识点捡起来，到现在虽然还是一个菜鸟，但是随着技术的深入，已经不再像刚毕业时迷茫。</p>
        <p>刚开始找工作的时候，也不少给母校丢脸了，即使是现在也是如此，不过希望后面能够成为一个真正的在一个方面有所擅长并且为他人提供帮助的大神</p>
        <p>后续希望能够通过此博客能够真正养成自己边学习和边总结的习惯，总结能力往往能够真正的转化为自己的内在功力</p>
        <p>本人目前在上海还只是一个菜鸟级别的Java程序者，目前可能还无法解决读过我博客中的一些问题，不过还是希望能够共同学习，共同进步</p>
        <p>还有希望能够通过此博客能够交到共同兴趣爱好，共同学习的好伙伴，后续有个人联系方式。</p>
        <p>我是一个菜鸟，但是会坚持自己的方向，成为一个有梦想有技术的大神！</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的QQ：<strong>2581336761</strong>（备注：博客）</li>
        </ul>

       <h2>
         Note
       </h2>
       <ul>
         <li>注：此博客介绍后续也许会更新！
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利，谢谢。
        </li>
      </ul>

       <p>
        最后，感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我6.66元吃一个肉夹膜:)
       </p>
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>